* {
    margin: 0px;
    padding: 0px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #708090;
    padding-top: 5px;
    padding-bottom: 10px;
    top: 0;
    position: sticky;
}

.profile{
    display: flex;
    align-items: center;
}

.profile-info h1{
    color: white;
    font-weight: 700
}

.nav-bar{
    display: flex;
    gap: 25px;
    list-style-type: none;
}

.nav-bar a{
    color: white;
    text-decoration: none;
}

.nav-bar .current{
    color: darkblue;
}

a:hover{
    text-decoration: underline;
}

.profile-img img{
    width: 90px;
    height: 75px;
    border-radius: 50%;
}

.socials img{
    width: 60px;
    height: 40px;
}

footer{
    background-color: #708090;
    bottom: 0px;
    position: fixed;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 20px;
    padding: 5px;
}